
@import url('https://fonts.googleapis.com/css?family=Oswald:500,600,700|Roboto');

body {
    margin: 0;
    background-image: url("https://cdn4.vectorstock.com/i/1000x1000/47/13/quiz-seamless-pattern-question-marks-doubt-faq-vector-28024713.jpg");

    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    margin: 50px 0 0;
    color: rgba(25, 182, 255, 0.863);
    animation: col 2s ease 0.5s infinite both;
    animation: stylee 3s 1 forwards;
    transition: all 0.3s;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 70px 0 20px;
    width: 100%;
}

.acc h3 {
    font-size: 25px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    position: relative;
}

.acc h3:after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.acc.active h3:after {
	content: '-';
}

.content {
    background-color: #fff;
    display: none;
}

.content-inner {
    padding: 15px;
    border-left: 20px solid lightslategray ;
    border-right: 20px solid lightslategray ;
}

.content * {
    margin-top: 0;
    line-height: 1.5;
}

.acc {
    border-bottom: 1px solid #fff;
}

.acc:hover
{
    background-color: lightslategray;
    transition: all 0.4s;
}

@keyframes col
{
   0%{ color : rgba(125, 25, 255, 0.418)}; 
       /* transform: translateX(0px);       */
      



   50%{color: rgba(25, 182, 255, 0.863)};
    /* transform: translateX(25px);  */


   100%{ color : rgba(125, 25, 255, 0.418)};
    /* transform: translateX(-25px);  */

}
@keyframes stylee{
  

    30%{
        letter-spacing: 25px;
        
      }

    85%
   {
   letter-spacing: 8px;
  
   }

   /* 100%
   {
    
    
      letter-spacing: 0px;
     
    } */
   
}